<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/html"
      lang="en">
<head>
    <title>Quiz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/style.css" th:href="@{/static/style.css}"/>
</head>
<body>
    <p><a class="nav-intro" href="admin/users">Show list of users</a></p>
    <p><a class="nav-intro" href="admin/cat">All categories</a></p>
    <p><a class="nav-intro" href="admin/tests">All tests</a></p>
</body>
</html>
