<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/html"
      lang="en">
    <head>
        <title>Quiz</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all"
              href="/static/style.css" th:href="@{/static/style.css}"/>
    </head>
    <body>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign out" />
        </form>
        <p>HELLO!</p>
        <p>Choose category:</p>
        <table>
            <thead>
                <tr>
                    <th class="listCategoriesThead">Id</th>
                    <th class="listCategoriesThead">Title</th>
                    <th class="listCategoriesThead">Start test</th>
                    <th class="listCategoriesThead">Edit (only for admin)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}">
                    <td class="listCategoriesTbody" th:text="${category.id}"></td>
                    <td class="listCategoriesTbody" th:text="${category.title}"></td>
                    <!--<td class="listCategoriesTbody"><a href="#">Choose test level</a> </td>-->
                    <td class="listCategoriesTbody"><a th:href="@{'/categories/' + ${category.title}}">Choose test level</a> </td>
                    <td class="listCategoriesTbody"><a th:href="@{'/admin/categories/' + ${category.title} + '/addTest'}">Add new test (for admin)</a></td>
                    <div class="user-attribute-vertical-space"></div>
                </tr>
            </tbody>
        </table>
        <p>---------------------------------------------------</p>
        <p><a href="/admin/categories/addCat">Add new category</a> (access only for admin)</p>
    </body>
</html>
