<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/html"
      lang="en">
    <head>
        <title>Quiz</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all"
              href="/static/style.css" th:href="@{/static/style.css}"/>
    </head>
    <body>
        <h1>WELCOME TO QUIZ</h1>
        <p>TO START, PLEASE REGISTER OR LOGIN</p>
        <p><a class="nav-intro" href="registration">Registration</a></p>
        <p><a class="nav-intro" href="login">Login</a></p>
        <p>--------------------------------------</p>
        <span>Available only after login:</span>
        <p><a class="nav-intro" href="categories">Categories</a></p>
    </body>
</html>
