<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/html"
      lang="en">
    <head>
        <title>Quiz</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all"
              href="/static/style.css" th:href="@{/static/style.css}"/>
    </head>
    <body>
        <div th:if="${param.error}">
            <p>Invalid username and password.</p>
        </div>
        <div th:if="${param.logout}">
            <p>You have been logged out.</p>
        </div>
        <!--<p th:text="${message}"></p>-->
        <form class="loginForm" th:action="@{/login}" method="post">
            <div class="input-login">
                <label>Username: <input type="text" name="username"/></label>
            </div>
            <div class="input-login">
                <label>Password: <input type="password" name="password"/></label>
            </div>
            <div class="submit-reset">
                <input type="submit" value="Sign in" />
                <input type="reset" value="Reset" />
            </div>
        </form>
        <p><a href="/registration">Registration</a></p>
        <p><a href="/">Start page</a> </p>
    </body>
</html>
