<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:form="http://www.w3.org/1999/html"
      lang="en">
<head>
    <title>Quiz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="/static/style.css" th:href="@{/static/style.css}"/>
</head>
<body>
    <form class="logout" th:action="@{/logout}" method="post">
        <input type="submit" value="Sign out" />
    </form>
    <h1>Questions:</h1>
    <tr th:each="question : ${questions}">
        <!--<td class="questionList" th:text="${question.id}"></td>-->
        <td class="questionList" th:text="${question.body}"></td>
        <td class="questionList"> <a th:href="@{'/admin/categories/' + ${question.test.category.title} + '/' +
                    ${question.test.level} + '/' + ${question.id} + '/addAnswers'}" th:text="${addAnswers}"></a></td>
        <div class="user-attribute-vertical-space"></div>
    </tr>
    <div class="formAddNewQuestion">
        <h3 class="addQuestion">Add new question</h3>
        <form th:action="@{'/admin/categories/' + ${category} + '/' + ${level} + '/addQuestion'}" method="post">    <!-- куда посылаем форму -->
            <label class="inputNewQuestion">Input new question: <input type="text" name="body" required="required" /> </label>
            <div class="inputSubmit">
                <input type="submit" value="Add" />
                <input type="reset" value="Reset" />
            </div>
        </form>
    </div>
    <p><a th:href="@{'/categories/' + ${category}}">Back</a> </p>
</body>
</html>
